* {
  margin: 0;
  padding: 0;

  --background: #1b1b1baa;
  --main: #ffe658;
  --main2: #ff9900;
}

:root {
  color-scheme: light;
}

body {
  height: 100vh;
  align-content: center;
  justify-content: center;
}

.main-wrapper {
  font-family: "Loos Normal", "BBH Hegarty", sans-serif;
  font-weight: 800;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  animation: float 10s infinite;
}

.intro {
  background: linear-gradient(var(--main), var(--main2));
  padding: 0.5rem 2rem 0.3rem;
  border-radius: 1.6rem;
  border: 5px solid black;
  animation: rotatingbubble 3s linear infinite;
  font-size: 2rem;

  position: relative;
  z-index: 10;
  box-shadow: 0 5px black;
}

@keyframes rotatingbubble {
  25% {
    rotate: 1deg;
    transform: translateY(10px);
  }
  50% {
    transform: translateY(10px);
  }
  75% {
    rotate: -1deg;
    transform: translateY(10px);
  }
}

.timer-wrapper {
  background: linear-gradient(var(--main), var(--main2));
  border-radius: 4.7rem;
  border: 5px solid black;
  padding: 10px;
  margin-top: -20px;
  box-shadow: 0 15px black;
}

.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: repeating-linear-gradient(
    45deg,
    #ffffff,
    #ffffff 10px,
    #fff5e8 10px,
    #fff5e8 20px);
  border-radius: 4rem;
  border: 3px solid var(--main2);
  height: 1em;
  overflow: hidden;

  font-size: 9rem;
  padding: 1rem 4rem .5rem;
}

@keyframes float {
  50% {
    transform: translateY(-10px);
  }
}

.scroll-wrap {
  padding: 0;s
  display: block;
  height: 1em;
  overflow: hidden;
}

.scroll-inner {
  padding: 0;
  display: flex;
  flex-direction: column;
  transition: transform 0.35s ease-in-out;
}

.digit {
  padding: 0;
  height: 1em;
  line-height: 1em;
  font-size: 1em;
}
